# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release
android/app/build/generated/ap_generated_sources/
android/app/build/intermediates/incremental/processDebugResources/
android/app/build/generated/
android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/
android/app/build/intermediates/flutter/
android/app/build/intermediates/incremental/
android/app/build/intermediates/merged_assets/
android/app/build/intermediates/processed_res/
android/app/build/intermediates/res/
android/app/build/intermediates/runtime_symbol_list/
android/app/build/intermediates/symbol_list_with_package_name/
android/app/build/outputs/
android/app/build/tmp/kotlin-classes/debug/META-INF/
android/app/build/generated/
android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/
android/app/build/intermediates/flutter/
android/app/build/intermediates/incremental/
android/app/build/intermediates/merged_assets/
android/app/build/intermediates/processed_res/
android/app/build/intermediates/res/
android/app/build/intermediates/runtime_symbol_list/
android/app/build/intermediates/symbol_list_with_package_name/
android/app/build/outputs/
android/app/build/tmp/kotlin-classes/debug/META-INF/
ios/Flutter/